.client {
    background: radial-gradient( 48.19% 63.51% at 82.12% 51.81%, #ff965b 0%, rgba(255, 232, 218, 0.393276) 41.63%, rgba(255, 255, 255, 0) 100%), radial-gradient( 45.12% 77.73% at 4.37% 16.26%, #ffdcc3 0.8%, rgba(255, 234, 219, 0.524748) 50.11%, rgba(242, 242, 242, 0) 100%);
}

.row {
    background: radial-gradient( 48.19% 63.51% at 82.12% 51.81%, #ffdcc3 0%, rgba(255, 232, 218, 0.393276) 41.63%, rgba(255, 255, 255, 0) 100%), radial-gradient( 45.12% 77.73% at 4.37% 16.26%, #ffdcc3 0.8%, rgba(255, 234, 219, 0.524748) 20.11%, rgba(242, 242, 242, 0) 100%);
}

.bottom {
    background: radial-gradient( 48.19% 63.51% at 82.12% 51.81%, #ffdcc3 -100%, rgba(255, 232, 218, 0.393276) 41.63%, rgba(255, 255, 255, 0) 100%), radial-gradient( 45.12% 77.73% at 4.37% 16.26%, #ffdcc3 0.8%, rgba(255, 234, 219, 0.524748) 20.11%, rgba(242, 242, 242, 0) 90%);
}

.rec-1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 2rem;
    left: -2rem;
    background: #feda94;
}

.gas {
    background: radial-gradient( 89.76% 177.5% at 2.67% 81.69%, rgba(86, 184, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.nav-gas {
    background: radial-gradient( 89.76% 177.5% at 2.67% 81.69%, rgba(86, 184, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.img-over {
    position: relative;
}

.img-over::after {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.maylike-products-wrapper {
    margin-top: 120px;
}

.maylike-products-wrapper h2 {
    text-align: center;
    margin: 50px;
    color: #324d67;
    font-size: 28px;
}

.maylike-products-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.marquee-text {
    font-size: 29px;
    font-weight: 600;
    margin: 60px 0px;
    color: #f02d34;
}

.marquee {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.track:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-40%);
    }
}

.track {
    animation: marquee 20s linear infinite;
    width: 550%;
}

.success,
.cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
}

.success-wrapper,
.cancel-wrapper {
    min-height: 69vh;
}

.success {
    height: 350px;
}

.success h2 {
    font-size: 17px;
}

@media screen and (min-width: 642px) {
    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 15s linear infinite;
        width: 180%;
    }
    .success-wrapper,
    .cancel-wrapper {
        background-color: white;
        min-height: 60vh;
    }
}